
html, body  
	{background: yellow; 
	 font-size: 15px; 
	 text-align: center;
	 font-family: verdana, tahoma, arial, helvetica, sans-serif;
	}
body *
	{margin: 5px; 
	 padding: 10px; 
	 font-size: 15px; 
	 text-align: center;
	}
img 
  {border: 20px;
  width: 400px;
	height: 300px;
	
	}
h1 
	{font-size:30px; 
	 font-weight: bold;
	 color: red;
	 text-align: center;
	}
	
	@media screen and (max-width: 1000px) and (min-width: 700px)
	ul li a 
{
	backround-color: blue;
	}
	


h2 
	{font-size: 20px;
	color: blue;
	}
h3
	{font-size: 13px; 
	 font-weight: bold;
	 color: green;
	}